db.sqlite3
.tmp
.DS_Store
.env

.git/
.idea/
.vscode/

.data/
.venv/

.ruff_cache/
.pytest_cache/
.mypy_cache/
.cache/
.pytest_cache/
__pycache__/

.tmp/

.dockerignore
docker-compose-prod.yml
docker-compose.yml

Makefile
nginx.conf
