APP_NAME=exam-solver

SECRET_KEY=insecure
DEBUG=1

OPENAI_API_KEY=
GOOGLE_API_KEY=
GOOGLE_CX=

BROKER_DEFAULT_USER=guest
BROKER_DEFAULT_PASSWORD=guest
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//

AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=minion-default-name
AWS_S3_REGION_NAME=us-east-1
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_DEFAULT_ACL=private
AWS_PRESIGNED_EXPIRE=3600